{% extends 'catalog/base.html' %}
{% block seredina_stranicy %}
<img src="/static/images/look.png" class="img-fluid" alt="Look">
<p></p>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <p></p>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">1 + 1 = 3</h1>
                    <h2 class="card-title pricing-card-title">Купи 2 комплекта и получи 1 в подарок!</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Комплекты на каждый день</li>
                        <li>- Комбинезоны и спортивные костюмы</li>
                        <li>- Футболки с принтом</li>
                        <li>- Свиншоты и Джемперы</li>
                        <li>- Домашняя одежда</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-outline-secondary">Купить</button>
                </div>
            </div>
        </div>
    </div>


    {% for obj in products %}
    <div class="card">
        <div class="card-body">
            <h5> {{ obj.name }} </h5>
            {{ obj.description | truncatechars:100 }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

